body {
	margin-left: 4px;
	margin-right: 0px;
	background-color: white;
}

/*----------------- Navbar -----------------*/ 

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	position: sticky;
	background-color: white;
}

/*----------------- LeftSide Navbar -----------------*/

.left-side {
	display: flex;
}

.navbar > .left-side > div {
	margin-right: 15px;
	font-size: 17px;
	text-transform: uppercase;
}

.navbar-link {
	height: 20px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.navbar-link a {
	color: #8a8a8a;
	margin-top: 15px;
	text-decoration: none;
	transition: color 0.5s;
}

.navbar-link:hover {
	border-bottom: 1px solid black;
}

.navbar-link a:hover {
	color: black;
}

/*----------------- Account Navbar -----------------*/

.navbar-account {
	height: 20px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.navbar-account a {
	color: #8a8a8a;
	margin-top: 15px;
	text-decoration: none;
	transition: color 0.5s;
}

.navbar-account:hover {
	border-bottom: 1px solid black;
}

.navbar-account a:hover {
	color: black;
}


/*----------------- RightSide Navbar -----------------*/

/*----------------- Searchbar -----------------*/

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield; /* Supported by WebKit-based browsers */
	-webkit-box-sizing: content-box;
	font-family: inherit; /* font */
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center; /*Search Image*/
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em; /* em is font size (em times bigger) */
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #8a8a8a;
	
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/*----------------- Container -----------------*/

.container {
	display: grid;
	grid-template-columns: 1fr; /* fractional unit */
}

.options {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.option {
	position: relative;
}

.img-background img {
	height: 350px;
	width: 99%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.9;
}
.img-text {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.logo img{
	width: 100%;
	margin-bottom: 15px;
}

.img-text .text {
	transition: 1s;
	color: transparent;
	font-weight: 500;
}

.img-text:hover .text {
	font-weight: 500;
	color: white;
}

.img-blackout {
	transition: 1s;
	filter: brightness(0%);
}
